.home-container{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.home-container p{
    font-size: 60px;
color: aliceblue;
}
.home-container h1{
    font-size: 50px;
color: black;
}


@media (max-width: 1200px) {
    .home-container p{
        font-size: 45px;
    color: aliceblue;
    }
  }
  
  @media (max-width: 768px) {
    .home-container p{
        font-size: 32px;
    color: aliceblue;
    }
  }